adwi/automation/workflows/adwi-model-update.json
{
  "id": "1e16d970-23d5-4e50-a32d-04066be87683",
  "name": "Adwi — Model Update Check",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [0],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "weekly-schedule-trigger",
      "name": "Weekly Schedule (Sunday 9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5055/adwi-model-check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Adwi-Secret",
              "value": "={{ $env.ADWI_LOCAL_SECRET }}"
            }
          ]
        },
        "sendBody": false,
        "options": {}
      },
      "id": "check-model-inventory",
      "name": "Check Model Inventory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-needed-check",
              "leftValue": "={{ JSON.parse($json.stdout).action_needed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-action-needed",
      "name": "IF action_needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [560, 100]
    },
    {
      "parameters": {
        "jsCode": "// Parse the model-check JSON from Command API stdout\nconst raw = $input.first().json;\nlet check;\ntry {\n  const stdout = raw.stdout || '';\n  check = JSON.parse(stdout);\n} catch (e) {\n  // If stdout isn't valid JSON, surface the raw response\n  return [{ json: { message: '\\u26a0\\ufe0f adwi-model-check returned non-JSON output:\\n' + JSON.stringify(raw) } }];\n}\n\nconst lines = ['\\ud83d\\udce6 *Adwi Model Update Check*'];\nlines.push('');\nlines.push(check.summary);\n\nif (check.missing && check.missing.length > 0) {\n  lines.push('');\n  lines.push('*Missing required models:*');\n  for (const m of check.missing) {\n    lines.push(`  \\u2022 \\`${m.name}\\` — ${m.role}`);\n    lines.push(`    Run: \\`ollama pull ${m.name}\\``);\n  }\n}\n\nif (check.stale && check.stale.length > 0) {\n  lines.push('');\n  lines.push('*Stale models (>60 days):*');\n  for (const m of check.stale) {\n    lines.push(`  \\u2022 \\`${m.name}\\` — last refreshed ${m.modified_days}d ago`);\n    lines.push(`    Run: \\`ollama pull ${m.name}\\``);\n  }\n}\n\nif (check.candidates && check.candidates.length > 0) {\n  lines.push('');\n  lines.push('*Candidate models (not installed):*');\n  for (const c of check.candidates) {\n    lines.push(`  \\u2022 \\`${c.name}\\` — ${c.role}`);\n    if (c.notes) lines.push(`    ${c.notes}`);\n  }\n}\n\nlines.push('');\nlines.push(`_Checked: ${check.checked_at}_`);\n\nreturn [{ json: { message: lines.join('\\n') } }];\n"
      },
      "id": "format-telegram-message",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_ALLOWED_USER_ID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "send-telegram-notification",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 0]
    }
  ],
  "connections": {
    "Manual Test Trigger": {
      "main": [
        [{ "node": "Check Model Inventory", "type": "main", "index": 0 }]
      ]
    },
    "Weekly Schedule (Sunday 9 AM)": {
      "main": [
        [{ "node": "Check Model Inventory", "type": "main", "index": 0 }]
      ]
    },
    "Check Model Inventory": {
      "main": [
        [{ "node": "IF action_needed", "type": "main", "index": 0 }]
      ]
    },
    "IF action_needed": {
      "main": [
        [{ "node": "Format Telegram Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Format Telegram Message": {
      "main": [
        [{ "node": "Send Telegram Notification", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
